body {
    background-color: beige;

}

.contenedor-principal {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.tamañoimg {
    width: 300px;
}

.presentacion {
    color: blueviolet;
}

.nombre {
    color: brown;
    background-color: aquamarine;
    width: 400px;
    margin-left: 460px;
}

li {
    list-style: none;
}

/*/////////////////////////////////////////////////
/* ! */
/* * */
/* ? */
/* TODO */
/*/ TODO: FIXME: /*/